@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
header{
    background-color: #f8f9fa;
}
.navbar-brand img{
    width: 85px;
}
.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
.nav-link{
    font-weight: 600;
}
.carousel-indicators [data-bs-target] {
    background-color: #666;
    height: 5px;
}
.carousel-indicators .active{
    background-color: orange;
}
.bannar{
    background-image: url(../images/background/bg-1.png);
    background-size: 57px 308px;
    background-position: center;
    background-repeat: no-repeat;
}
#home{
    background-image: url(../images/background/bg-2.png);
    background-size: 150px;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
button.buy-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
}
p {
    color: #777;
}
.menubar{
    text-align: end;
}