@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
header{
    background-color: #f8f9fa;
}
.navbar-brand img{
    width: 85px;
}
.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
.nav-link{
    font-weight: 600;
}
.carousel-indicators [data-bs-target] {
    background-color: #666;
    height: 5px;
}
.carousel-indicators .active{
    background-color: orange;
}
.bannar{
    background-image: url(../images/background/bg-1.png);
    background-size: 57px 308px;
    background-position: center;
    background-repeat: no-repeat;
}
#home{
    background-image: url(../images/background/bg-2.png);
    background-size: 150px;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
button.buy-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 13px;
    text-transform: uppercase;
}
p {
    color: #777;
}
.menubar{
    text-align: end;
}
.card img{
    width: 200px;
    margin: 0 auto;
}
.card-body {
    text-align: center;
}
.card {
    padding-top: 35px;
    padding-bottom: 35px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 8px 2px lightgrey;
}
.see-all-link{
    color: orange;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
}    
.container{
    width: 1040px;
    margin-bottom: 70px;
}
.heading p{
    height: 5px;
    width: 80px;
    background-color: orange;
    border-radius: 10px;
    margin: 14px auto;
}
.heading{
    text-align: center;
}
.r-area img{
    width: 450px;
}
.border-area{
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px #c7c7c7;
    margin: 0px 5px 30px 0px;
    height: 200px;
    display: flex;
    align-items: center;
    width: 178px;
    justify-content: center;
}
.border-area img{
    width: 100px;
}
.border-area p{
    padding-top: 10px;
    color: #000;
}
.border-area .shoe{
    padding-top: 0px;
}
